@model n01637867Assignment3.Models.Teacher

@{
    ViewBag.Title = "Show selected Teacher";
}

<!-- details of the teacher selected -->
<h2>Information of the teacher selected in detail </h2>
<p class="bold">Teacher Full Name : @Model.TeacherFName @Model.TeacherLName</p>
<p>Employee Number : @Model.EmployeeNumber</p>
<p>Hire date : @Model.HireDate</p>
<p>Salary : @Model.Salary</p>

