@model n01637867Assignment3.Models.Teacher

@{
    ViewBag.Title = "Show selected Teacher";
}

<!-- details of the teacher selected -->
<div class="content-conatiner">
    <div class="container-box">
        <a class="goBack" href="/Teacher/List">Back to Teachers List</a>
        <a class="deleteLink" href="/Teacher/DeleteConfirm/@Model.TeacherID">Delete <i class="fa-solid fa-trash icon-trash"></i></a>
    </div>

    <div class="container-box">
        <a class="updateLink" href="/Teacher/Edit/@Model.TeacherID">Update <i class="fa-solid fa-arrows-rotate"></i></a>
        <a class="updateLink_Ajax" href="/Teacher/Ajax_Update/@Model.TeacherID">Update with AJAX<i class="fa-solid fa-arrows-rotate"></i></a>
    </div>

    <h2>Information of the teacher selected in detail </h2>
    <p class="bold">Teacher Full Name : @Model.TeacherFName @Model.TeacherLName</p>
    <p>Employee Number : @Model.EmployeeNumber</p>
    <p>Hire date : @Model.HireDate</p>
    <p>Salary : @Model.Salary</p>
</div>

