<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Cumulative Project Part 3</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/teacher.js"></script>

    <!-- add the Content/Site.css file for the styling -->
    <link rel="stylesheet" type="text/css" href="../../Content/Site.css ">
    <script src="https://kit.fontawesome.com/98efbca3c9.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <!-- change the name of the application  -->
            @Html.ActionLink("Cumulative Project Part 3", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- add the link to teachers list, studets list, classes list -->
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Teachers", "Index", "Teacher/List", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Students", "Index", "Student/List", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Classes", "Index", "Class/List", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!-- modify the footer -->
            <p>&copy; @DateTime.Now.Year - Arnulfo Sánchez - HTTP5101 Cumulative Project Part 3</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
